html {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;

  overflow: hidden;
}

#land-overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.9);
}

#username-input {
  /*outline-style: dashed;
  outline-color: #E88000;*/
  border-radius: 15px;
  border-style: dashed;
  border-color: #E88000;

  width: 400px;
  height: 80px;

  margin: 0 auto;

  background-image:
    radial-gradient(
      #FFC783, #FFB355
    );
}

#usr-form {
  width: 100%;
  height: 100%;
}

#usr-form > * {
  line-height: 20px;
  margin-top: 30px;

  float: left;
}

#username-input p:first-child {
  margin-left: 10px;
  font-size: 16px;
  max-width: 200px;

  font-weight: bold;

  font-family: 'Lato', sans-serif;
}

#usr-box {
  margin-left: 10px;
  max-width: 140px;

  font-size: 18px;
  text-align: right;

  font-family: 'Lato', sans-serif;
}

#usr-btn {
  margin-left: 10px;
  margin-top: 28px;

  padding-bottom: 4px;
  padding-top: 4px;

  max-width: 90px;
}

#main-content {
  outline-style: solid;
  outline-color: black;

  /* Sum of #message-area width (or #input-area width) + #users-area = #main-content width */
  width: 950px;
  margin: 0 auto;
}

#message-area {
  outline-style: solid;
  outline-color: red;

  /* Sum of #message-area width (or #input-area width) + #users-area = #main-content width */
  /* #input-area width must be the same as #message-area width */
  width: 750px;
  /* #users-area height = #message-area height */
  height: 800px;

  overflow-y: scroll;
  overflow-x: hidden;

  float: left;
}

#input-container {
  float: left;
}

#input-area {
  outline-style: solid;
  outline-color: blue;

  /* Sum of #message-area width (or #input-area width) + #users-area = #main-content width */
  /* #input-area width must be the same as #message-area width */
  width: 750px;
  height: 20px;
}

#users-area {
  outline-style: solid;
  outline-color: green;

  /* Sum of #message-area width (or #input-area width) + #users-area = #main-content width */
  width: 200px;
  /* #users-area height = #message-area height */
  height: 800px;

  float: left;
}

#msg-form input:first-child {
  width: 90%;
  font-size: 16px;
}

#msg-form button:nth-child(2) {
  width: 8%;
  height: 100%;
}

#message-area li {
  list-style-type: none;
  margin-left: 10px;
  display: inline-block;

  word-wrap: break-word;
  /* Cut pixels due to margin-left and scrollbar */
  width: 720px;
}

#message-area li:nth-child(odd) {
  background: rgba(125, 191, 230, 0.8);
}

#message-area li:nth-child(even) {
  background: rgba(6, 95, 148, 0.8);
  color: white;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  text-shadow: 3px 2px 5px #381b38;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #FF8D01;
  padding: 10px 20px 10px 20px;
  border: solid #FF8D01 2px;
  text-decoration: none;
}

.btn:hover {
  background: #FFB355;
  text-decoration: none;
}
