html {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;

  overflow: hidden;
}

#land-overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(163, 228, 153, 0.8);
  /*rgba(255, 255, 255, 0.9);*/
}

#username-input {
  border-radius: 5px;
  border-style: solid;
  border-color: #1E7F0F;

  width: 400px;
  height: 80px;

  margin: 0 auto;

  background-image:
    radial-gradient(
      #1E7F0F, #77D269
    );
}

#header {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
}

#usr-form {
  width: 100%;
  height: 100%;
}

#usr-form > * {
  line-height: 20px;
  margin-top: 30px;

  float: left;
}

#username-input p {
  margin-left: 10px;
  font-size: 16px;
  max-width: 200px;

  font-weight: bold;

  font-family: 'Lato', sans-serif;
}

#usr-box {
  margin-left: 10px;
  max-width: 140px;

  font-size: 18px;
  text-align: right;

  font-family: 'Lato', sans-serif;
}

#usr-btn {
  margin-left: 10px;
  margin-top: 28px;

  padding-bottom: 4px;
  padding-top: 4px;

  max-width: 90px;
}

#main-content {
  /* Sum of #message-area width (or #input-area width) + #users-area = #main-content width */
  width: 950px;
  margin: 0 auto;
}

#message-area {
  outline-style: solid;
  outline-color: black;

  /* Sum of #message-area width (or #input-area width) + #users-area = #main-content width */
  /* #input-area width must be the same as #message-area width */
  width: 750px;
  /* #users-area height = #message-area height */
  height: 800px;

  overflow-y: scroll;
  overflow-x: hidden;

  float: left;
}

#input-container {
  float: left;
}

#input-area {
  outline-style: solid;
  outline-color: black;

  /* Sum of #message-area width (or #input-area width) + #users-area = #main-content width */
  /* #input-area width must be the same as #message-area width */
  width: 750px;
  height: 20px;
}

#users-area {
  outline-style: solid;
  outline-color: black;

  /* Sum of #message-area width (or #input-area width) + #users-area width = #main-content width */
  width: 200px;
  /* #users-area height = #message-area height */
  height: 800px;

  float: left;
}

#users-area * {
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
}

#users-area h2 {
  padding-bottom: 5px;
  border-bottom: 1px black solid;
}

#users-area li {
  list-style-type: none;
  border-bottom: 1px #1E7F0F dashed;
}

#msg-box {
  width: 90%;
  font-size: 16px;
}

#msg-btn {
  width: 8%;
  height: 100%;
}

#msg-btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 3px 2px 5px #381b38;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #1E7F0F;
  padding: 1px 8px 1px 8px;
  border: solid #ffffff 1px;
  text-decoration: none;
}

#msg-btn:hover {
  background: #77D269;
  text-decoration: none;
}

#message-area li {
  list-style-type: none;
  margin-left: 10px;
  display: inline-block;

  word-wrap: break-word;
  /* Cut pixels due to margin-left and scrollbar */
  width: 720px;

  border-bottom: 1px black solid;
  border-left: 1px black solid;
}

#message-area li {
  background: rgba(157, 228, 146, 0.8);
}

/*#message-area li:nth-child(odd) {
  background: rgba(52, 159, 35, 0.8);
  color: white;
}

#message-area li:nth-child(even) {
  background: rgba(157, 228, 146, 0.8);
}*/

#message-area li.server-msg {
  font-weight: bold;
  background: #B42C36;
  color: white;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  text-shadow: 3px 2px 5px #381b38;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 14px;
  background: #1E7F0F;
  padding: 10px 20px 10px 20px;
  border: solid #1E7F0F 2px;
  text-decoration: none;
}

.btn:hover {
  background: #369926;
  text-decoration: none;
}

.typing {
  font-style: italic;
  color: #1E7F0F;
}
